---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  # Site
  CLUSTER_NAME: home-cluster
  TIMEZONE: Europe/Amsterdam

  # k8s CIDR IPV4 & IPV6
  NETWORK_K8S_POD_CIDR: 10.244.0.0/16
  NETWORK_K8S_SERVICE_CIDR: 10.96.0.0/12
  NETWORK_K8S_POD_CIDR_V6: fd12:3456:789a:244::/56
  NETWORK_K8S_SERVICE_CIDR_V6: fd12:3456:789a:96::/112

  # MetalLB
  METALLB_LB_RANGE: 192.168.2.230-192.168.2.250

  # Service Addresses
  SVC_INGRESS_ADDR: 192.168.2.230
  SVC_K8S_GATEWAY_ADDR: 192.168.2.231
